.vertical_center {
    vertical-align: middle;
}

.no_padding_horizontal {
    padding-right: 0px;
    padding-left: 0px;
}

.no_padding_vertical {
    padding-top: 0px;
    padding-bottom: 0px;
}

.category_pictures_div {
    height: 280px;
}

.category_pictures_img {
    height: 100%;
    width: 100%;
}

.banner_img {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.banner_search_box_div {
    position: absolute;
    align-content: center;
    width: 100%;
    height: 50px;
    top: 350px;
}

.content_div {
    position: absolute;
    top: 400px;
}

.logo_img {
    height: 100%;
}

.navbar_color {
    background: rgba(0,0,0,0.2);
    border: 0px;
}

.navbar_text_color{
    color: white
}